body{
    background-image: url("../assets/images/georgia-de-lotz-lckTrojViao-unsplash.jpg");
    background-position: center;
    background-size: cover;
}

.uk-overlay{
    background-color: rgba(33,33,33,0.8);
}