/* 
The CSS framework is
https://getuikit.com/docs/introduction
*/

/* ===========================
    WELCOME TO WANDERDOG CSS 
   =========================== */

/* CSS DIRECTORY
	1. =GLOBAL SETTINGS
*/

/* COLORS
	- default body text-WHITE     color: #F6F7F8;
	- link text-GREEN             rgb(28, 209, 164);
	- background div color-BLACK  rgba(19, 19, 19, 0.795);
*/

/* FONTS
	font-family: 'Raleway', sans-serif;
*/

/*=============================*/

/* ==================
    =GLOBAL SETTINGS 
   ================== */

h1 {
    font-family: 'Raleway', sans-serif;
}

a, h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: 200;
}

a:hover {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}