/* 
The CSS framework is
https://getuikit.com/docs/introduction
*/

/* ===========================
    WELCOME TO WANDERDOG CSS 
   =========================== */

/* CSS DIRECTORY
	1. =GLOBAL SETTINGS
	2. =MODALS
	3. =HERO!
	4. =USA STATES BOX
    5. =LINKS BOX
    6. =SEARCH BOX
    7. =CAMP/HIKING BOX
    8. =WEATHER BOX
    9. =FOOTER
    10. =MEDIA QUERIES
*/

/* COLORS
	- default body text-WHITE     color: #F6F7F8;
	- link text-GREEN             rgb(28, 209, 164);
	- background div color-BLACK  rgba(19, 19, 19, 0.795);
*/

/* FONTS
	font-family: 'Raleway', sans-serif;
*/

/*=====================================///=======================================*/

/* ==================
    =GLOBAL SETTINGS 
   ================== */

h1 {
    font-family: 'Raleway', sans-serif;
}